{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="toolbar" class="btn-group">
        <button id="ipmi_button" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            IPMI客制化
        </button>
    </div>
    <table id="ipmi" class="table table-hover" width="95%" align="center" style=" word-break:break-all;"></table>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">选择IPMI版本</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="txt_name">IPMI名称</label>
                        <input type="text" name="txt_statu" class="form-control" id="user_name"
                               placeholder="user_name">
                    </div>
                    <div class="form-group">
                        <label>
                            <select class="selectpicker" data-style="btn-primary">
                                <option value="1">IPMI1</option>
                                <option value="2">IPMI2</option>
                                <option value="3">IPMI3</option>
                                <option value="4">IPMI4</option>
                                <option value="5">IPMI5</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="user_close" class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove" aria-hidden="true"></span>关闭
                    </button>
                    <button type="button" id="user_submit" class="btn btn-primary"><span
                            class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>保存
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="{% static 'control/scripts/ipmi.js' %}"></script>
{% endblock %}