{% extends "erro.html" %}
{% block bug_num %}
<td class="body">问题ID:</td>
{% endblock %}

{% block hidden1 %}{% endblock %}
{% block hidden2 %}{% endblock %}
{% block phase %}
<td width="16%">问题状态:</td>
{% endblock %}
{% block hidden3 %}{% endblock %}
{% block bug_detail %}
<td width="16%">问题描述:</td>
{% endblock %}
{% block hidden4 %}{% endblock %}
{% block config %}
<td width="16%">软件和硬件配置信息:</td>
{% endblock %}
{% block test_model %}
<td width="16%">解决方法:</td>
{% endblock %}
{% block suggested_view %}
{% endblock %}